
table{
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
td,th{
    padding: 5px;
    border: solid thin green;
}
th{
    background-color: #006666;
    color: #99ff99;
}
/*tr:hover{
    background-color: #006666;
    color: #99ff99;
}*/