div#wrapper{
    margin: auto;
    text-align: center;
    width: 1000px;
}
div#header{
   height: 120px;
   background-color:#ff9966;
   color:brown;
   font-size: 4em;
   padding: 20px;
}
div#menu{
    float: left;
    width: 200px;
    background-color: #ffcc99;
    text-align: left;    
}
div#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
div#menu ul li a{
    padding: 15px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: brown;
    
    border: solid thin brown;
}
div#menu ul li a:hover{
    color: #ffcc99;
   background-color: brown;
}
div#content{
    float: left;
    margin: auto;
    text-align: left;
    width: 750px;
    
}

form,fieldset{
     color: brown;
    background-color: #ffcc99;
    border: solid thin brown;
}
div#footer{
    font-size: 0.7em;
    clear: both;
}
table{
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
    
}
th,td{
    text-align: left;
    border: solid thin brown;
    padding: 5px;
}
span.info{
    display: inline-block;
    width: 120px;
    text-align: right;
}
div.line{
    margin-bottom: 10px;
}
span.error{
    color: red;
}